@charset "UTF-8";
/*
--------------------|📝 : Abstracts
*/
/*
--------------------|📝 : Colors
*/
/*
--------------------|📝 : Flex
*/
/*
--------------------|📝 : Grid
*/
/*
--------------------|📝 : Absolute position center
*/
/*
--------------------|📝 : Media query manager
*/
/*
----------|✏️ : 0 - 600 px : Phone
--------------- 600 - 900 px : Tablet portrait
--------------- 900 - 1200 px : Tablet landscape
--------------- [1200 - 1800 px] is where our normal styles apply
--------------- 1800px + : Big desktop
*/
/*
----------|✏️ : $breakpoint argument choices =
--------------- phone
--------------- tab-port
--------------- tab-land
--------------- big-desktop
*/
/*
--------------------|📝 : Base 
*/
/*
--------------------|📝 : Reset
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/*
--------------------|📝 : Tag
*/
html {
  font-size: 62.5%; }
  @media only screen and (min-width: 112em) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box; }

/*
--------------------|📝 : Text selection
*/
/*
--------------------|📝 : Container
*/
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1.6rem; }

/*
--------------------|📝 : Body
*/
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1; }

/*
--------------------|📝 : Heading
*/
.heading-primary {
  font-size: 6.2rem;
  color: #fff;
  font-weight: 600;
  line-height: 1.2; }

.heading-tertiary {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 400; }

.paragraph {
  font-size: 1.4rem;
  color: #fff;
  font-weight: 400;
  line-height: 1.6; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

/*
--------------------|📝 : Components 
*/
/*
--------------------|📝 : Btns
*/
.btn:link, .btn:visited {
  padding: 1.2rem 2.4rem;
  display: inline-block;
  font-size: 1.6rem;
  color: #fff;
  text-decoration: none;
  border-radius: 0.6rem;
  backface-visibility: hidden;
  transition: all 0.3s; }

.btn--gradient:link, .btn--gradient:visited {
  background: linear-gradient(to right, #BB47A6, #4E6DD8);
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1), 0 1px 3px rgba(255, 255, 255, 0.2); }

.btn--gradient:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 4px 3px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(255, 255, 255, 0.2); }

.btn--gradient:active, .btn--gradient:focus-visible {
  transform: translateY(-0.1rem);
  box-shadow: 0 2px 3px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(255, 255, 255, 0.2); }

.btn--solid:link, .btn--solid:visited {
  box-shadow: 0 0 0 0.2rem #fff inset; }

.ending {
  max-width: 34rem;
  padding: 2.4rem 3.2rem;
  background-color: rgba(51, 51, 51, 0.6);
  border-radius: 0.6rem; }
  .ending__title {
    margin-bottom: 3.2rem;
    font-size: 1.6rem;
    color: #fff;
    font-weight: 400; }
  .ending ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .ending ul li p {
      font-size: 2.4rem;
      font-weight: 900;
      color: #fff; }
    .ending ul li span {
      display: block;
      font-size: 1rem;
      font-weight: 400;
      color: rgba(255, 255, 255, 0.4); }

/*
--------------------|📝 : Layout 
*/
/*
--------------------|📝 : Header
*/
header {
  background-color: #0A0F29; }
  header .navigation {
    padding-block: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    header .navigation__logo {
      width: 4.8rem;
      transition: all 0.3s; }
      header .navigation__logo:hover {
        transform: scale(1.2); }
    header .navigation__ul {
      display: flex;
      gap: 4.8rem;
      align-items: center;
      justify-content: space-between;
      list-style: none; }
    header .navigation__a {
      padding: 1.2rem;
      display: inline-block;
      position: relative;
      font-size: 1.6rem;
      color: #fff;
      text-decoration: none;
      backface-visibility: hidden;
      z-index: 0; }
      header .navigation__a::after {
        width: 100%;
        height: 0.2rem;
        content: "";
        position: absolute;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: linear-gradient(to right, #BB47A6, #4E6DD8);
        z-index: -1;
        opacity: 0;
        transition: all 0.3s; }
      header .navigation__a:hover::after {
        height: 100%;
        opacity: 1;
        border-top-left-radius: 2rem;
        border-bottom-right-radius: 2rem; }

/*
--------------------|📝 : Pages 
*/
/*
--------------------|📝 : Main
*/
main section {
  padding-bottom: 6.4rem; }

/*
--------------------|📝 : Sections
*/
.section-hero {
  background-color: #0A0F29; }
  .section-hero__box {
    display: grid;
    grid-template-columns: 5fr 6fr; }
  .section-hero__content {
    align-self: flex-end;
    display: flex;
    gap: 2.4rem;
    justify-content: center;
    flex-direction: column; }
  .section-hero__btns a:first-child {
    margin-right: 2.4rem; }
  .section-hero__img {
    display: block;
    width: 100%;
    justify-self: flex-end; }
