/*
--------------------|📝 : Colors
*/

//----------|✏️ : As the number increases, the color becomes lighter.

$color-primary:#0A0F29;

$color-secondary:#4E6DD8;

$color-tertiary: #BB47A6;



$color-gray: #999;
$color-gray-light-1:#eee;
$color-gray-light-2:#f7f7f7;
$color-gray-dark-1: #333;
$color-gray-dark-2: #D9D9D933;


$color-white: #fff;
$color-black: #000;


