/*
--------------------|📝 : Main
*/

main {
  section {
    padding: 8rem 0;
    background-color: $color-primary;
  }
}

/*
--------------------|📝 : Sections
*/

/*
----------|📝 : Hero
*/

.section-hero {
  @include respond(tab-port) {
    padding-top: 0;
  }

  &__box {
    @include grid(0, null) {
      grid-template-columns: 5fr 6fr;
    }

    @include respond(tab-port) {
      @include flex(4.8, null, null, column-reverse);
      text-align: center;
    }
  }

  &__content {
    align-self: flex-end;
    @include flex(2.4, null, center, column);

    @include respond(tab-port) {
      align-items: center;
    }
  }

  &__btns {
    a:first-child {
      margin-right: 2.4rem;
    }
  }

  &__img {
    display: block;
    width: 100%;
    justify-self: flex-end;

    @include respond(tab-port) {
      max-width: 70rem;
      justify-self: center;
    }
  }
}

/*
----------|📝 : Feature
*/

.section-feature {
  background-image: linear-gradient(
    to left,
    rgba($color-tertiary, 0.1),
    rgba($color-secondary, 0.1)
  );
  border: 0.4rem solid;
  border-image: linear-gradient(
    to left,
    rgba($color-tertiary, 0.6),
    rgba($color-secondary, 0.6)
  );
  border-image-slice: 1;
  border-right: none;
  border-left: none;

  &__box {
    @include grid(3.2, null) {
      grid-template-columns: 3fr auto 4fr;
      align-items: center;
    }

    @include respond(tab-port) {
      @include flex(3.2, null, null, column);
      text-align: center;
    }

    .rule {
      width: 0.2rem;
      height: 20rem;
      display: block;
      background: linear-gradient(to bottom, $color-tertiary, $color-secondary);

      @include respond(tab-port) {
        width: 60%;
        height: 0.2rem;
      }
    }
  }
}

/*
----------|📝 : Get
*/

.section-get {
  &__box {
    @include grid(4.8, 2) {
      align-items: center;
      justify-content: space-between;
    }

    @include respond(tab-port) {
      @include flex(4.8, null, null, column);
    }
  }

  &__img {
    width: 100%;
    @include respond(tab-port) {
      max-width: 50rem;
    }
  }

  &__content {
    @include flex(2.4, flex-start, null, column);

    @include respond(tab-port) {
      align-items: center;
      text-align: center;
    }
  }
}

/*
----------|📝 : Collection
*/

.section-collection {
  &__box {
    @include flex(2.4, flex-start, null, column);

    @include respond(tab-port) {
      @include flex(2.4, center, null, column);

      .paragraph,
      .heading-secondary {
        text-align: center;
      }
    }

    .paragraph {
      width: 50%;
    }
  }

  &__cards {
    list-style-type: none;
    @include grid(4.8, 3);

    @include respond(tab-port) {
      @include grid(4.8, 2);
    }

    @include respond(phone) {
      @include flex(4.8, null, null, column);
    }
  }
}

/*
----------|📝 : Popular
*/

.section-popular {
  &__box {
    .paragraph {
      width: 50%;
      margin: 2.4rem auto;
    }
  }

  &__cards {
    @include grid(2.4, null) {
      grid-template-columns: 6fr 7fr 6fr;
      grid-template-rows: repeat(5, 9rem);
    }

    .popular-card:nth-child(1) {
      grid-row: 1/5;
    }

    .popular-card:nth-child(2) {
      grid-row: 1/6;
    }

    .popular-card:nth-child(3) {
      grid-row: 1/5;
    }

    @include respond(tab-port) {
      @include flex(2.4, center, center, column);
    }
  }
}

/*
----------|📝 : Create
*/

.section-create {
  &__box {
    min-height: 60rem;
    @include flex(2.4, center, center, column);
    position: relative;
    text-align: center;
    z-index: 2;

    .paragraph {
      max-width: 60%;
    }
  }

  &__img {
    height: 100%;
    @include absCenter;
    z-index: -1;

    @include respond(phone) {
      height: 58%;
    }
  }
}
